/* PSEUDO-CLASSES */
/* unvisited link */
a:link{
    color: green;
}
/* visited link */
a:visited{
    color: yellow;
}
/* mouse over link */
a:hover{
    color: violet;
}
/* selected link */
a:active{
    color: red;
}
